body{
    background-color: rgb(245, 245, 245);
}
#mid{
    background-color: rgb(225, 225, 225);
    width: 800px;
    height: auto;
    margin: 0 auto;
    margin-top: 200px;
    padding: 2% 2% 2% 10%;
    border: 1px solid rgb(200, 200, 200);
    
}

.input-group{
    height: 150px;
}

button{
   text-align: center;
}
h3{color: #327ABC;}

#titulo{
    text-align: center;
    border-bottom: 1px solid rgb(121, 121, 121);
}

.col{
    text-align: center;
}