body{
   
    background-color: rgb(255, 212, 127);
}
/* #izq{
    width: 10vw;
    height: 100vh;
}
#med{
    width: 80vw;
    height: 100vh;
    background-color: rgb(155, 100, 34);
}
#der{
    width: 10vw;
    height: 100vh;
} */